<div class="columns">
    <div class="column is-3">
        <figure class="image is-128x128 mx-auto">
            <% if current_user.avatar.attached? %>
                <%= image_tag post.user.avatar, class: 'is-rounded' %>
            <% else %>
                <%= image_tag "profile_placeholder.png", class: 'is-rounded' %>
            <% end %>
        </figure>        
    </div>
    <div class="column is-9">
        <p class="is-size-4 mb-3"><%= current_user.username %></p>
        <div class="columns">
            <div class="column is-3">
                <b><%= current_user.posts.count %></b> posts
            </div>
            <div class="column is-3">
                <b><%= current_user.comments.count %></b> comments
            </div>
        </div>
        <p><%= current_user.email %> 📫</p>
        <p><%= current_user.birthday %> 🎂</p>
    </div>
</div>